@model IEnumerable<RIUPP.Models.Area>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <br /><br /><br /><br /><br />
        <h1>Áreas</h1>
        @if (User.IsInRole("Gestor")) {
            <a asp-action="Create">Criar Área</a>
        }
        <br /><br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @if (User.IsInRole("Gestor") || User.IsInRole("Gestor"))
                        {<a asp-action="Edit" asp-route-id="@item.Id"> Editar |</a>}
                        <a asp-action="Details" asp-route-id="@item.Id">  Detalhes  </a>
                        @if (User.IsInRole("Gestor"))
                        {<a asp-action="Delete" asp-route-id="@item.Id">| Apagar </a>}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>