@model RIUPP.Models.Ficheiro

@{
    ViewData["Title"] = "Delete";
}
    <div class="container">
        <br /><br /><br /><br /><br />
        <h1>Apagar</h1>

        <h3>Tem a cerrteza que pertende apagar este ficheiro</h3>
        <div>
            <h4>Ficheiro</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Observacao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Observacao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateUpload)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateUpload)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Utilizador)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Utilizador.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Area)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Area.Nome)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a asp-action="Index">Voltar atrás</a>
            </form>
        </div>
    </div>